body {
	background:url('../img/grass.png');
}
.container {
	background:#fff;
	margin-top:15px;
}
.content {
	padding:10px;
}
.preview img {
	padding:2px 5px;
}
.btn-ac {
  background-color: hsl(86, 79%, 44%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#daf6b5", endColorstr="#7cc817");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#daf6b5), to(#7cc817));
  background-image: -moz-linear-gradient(top, #daf6b5, #7cc817);
  background-image: -ms-linear-gradient(top, #daf6b5, #7cc817);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #daf6b5), color-stop(100%, #7cc817));
  background-image: -webkit-linear-gradient(top, #daf6b5, #7cc817);
  background-image: -o-linear-gradient(top, #daf6b5, #7cc817);
  background-image: linear-gradient(#daf6b5, #7cc817);
  border-color: #7cc817 #7cc817 hsl(86, 79%, 34%);
  color: #fff !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.66);
  -webkit-font-smoothing: antialiased;
}
.nav-pills-ac.nav-pills>li>a {
	color: #7cc817;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.nav-pills-ac.nav-pills>.active>a {
	color:#fff;
	background-color: #7cc817;
}
.logo {
	vertical-align:baseline;
}
.nav-ac {
	display:inline-block;
	vertical-align:middle;
}
.top-bar {
	position:relative;
	margin-bottom: 10px;
}
.pagination a {
	color:#7cc817;
}
.pagination a:hover {
	color:#3e640b;
}
.donate {
	position:absolute;
	top:7px;
	right:0;
}